@import url("wetfe-theme.css");

body {
    background-image: url("images/cosmos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--bs-dark-color);
}
